<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{ unicorn.name | magicalName }}</mat-card-title>
        <mat-card-subtitle>ID: {{ unicorn.id }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="unicorn.photo">
    <mat-card-content>
        hobbies :
        <ul [ngClass]="{'once': unicorn.hobbies.length === 1}">
            <li *ngFor="let hobby of unicorn.hobbies">
                {{ hobby }}
            </li>
        </ul>
        capacitiesLabels :
        <ul>
            <li *ngFor="let label of unicorn.capacitiesLabels">
                {{ label }}
            </li>
        </ul>
    </mat-card-content>
    <mat-card-actions>
        <button mat-mini-fab color="primary"><mat-icon>edit</mat-icon></button>
        <button mat-mini-fab color="warn"><mat-icon>delete</mat-icon></button>
        <button mat-mini-fab
                [color]="isInCart?'accent':'primary'"
                (click)="addOrRemoveFromCart()">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-mini-fab color="primary"><mat-icon>visibility</mat-icon></button>
    </mat-card-actions>
</mat-card>


